bcrypt==3.1.7
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
Django==2.2.5
dnspython==1.15.0
Faker==0.8.13
Flask==0.12.4
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
Flask-JWT-Extended==3.7.0
Flask-Login==0.4.0
idna==2.8
pluggy==0.6.0
pycryptodome==3.8.2
PyJWT==1.7.1
pymongo==3.7.2
pytest==3.3.0
pytest-flask==0.10.0
pytz==2019.2
requests==2.22.0
soupsieve==1.9.3
sqlparse==0.3.0
text-unidecode==1.2
urllib3==1.25.4
wincertstore==0.2
